<html>
<head>
	
</head>
<body>
	<form method="GET">
		Name<input name="name" type="Name" placeholder="Name" value="<%= res.name %>"><br><br>
		Last Name<input name="lastName" type="Name" placeholder="lastName" value="<%= res.lastName %>"><br><br>
		E-mail<input name="email" type="Name" placeholder="email" value="<%= res.email %>"><br><br>
		Username<input name="username" type="Name" placeholder="Username" value="<%= res.username %>"><br><br>
		Mobile<input name="number" type="Name" placeholder="Number" value="<%= res.num %>"><br><br>
		Gender<input name="gender" type="Name" placeholder="Gender" value="<%= res.gen %>"><br><br>
		<input type="submit">
</body>
</html>